* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000000;
    background-color: #D6E7F5;
    margin: 0px;
    padding: 0px;
}

button, input, textarea, select {
    font-family: 'Roboto', sans-serif;
}

button:hover {
    cursor: pointer;
}

#root {
    height: 100%;
}

/* %%%%%%%%%% SCROLLBAR STYLING %%%%%%%%%%% */

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #9d9d9d white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 18px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 20px;
    border: 6px solid #ffffff;
}

/* ================= */

/* %%%%%%%%% Login/Signup + Profile Button/Popup   %%%%%%%%%%%% */

#layout-top {
    background-color: #0060bf;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.profile-popup {
    background-color: #f7f7f7;
    border: double white rgb(255, 0, 0);
    border: 1px solid grey;
    border: 5px solid #ffffff;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.profile-dropdown {
    position: absolute;
    transform: translateX(-200px);
    top: 34px;
    padding: 0px;
    margin: 0px;
    z-index: 30;
    width: 220px;
}

.profile-popup div {
    padding: 0px 0px;
    margin: 0px 20px;
    color: #1d1d1d;
}

.profile-button {
    border: none;
    padding: 2px;
    font-size: 22px;
    background-color: inherit;
    color: #b3cfec;
}

.profile-button:hover {
    color: #ffffff;
}

.logout-button {
    background-color: #0060bf;
    color: #ffffff;
    margin: 14px 0px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 24px;
    border-radius: 20px;
}

.logout-button:hover {
    background-color: #006bd6;
}

.close-popup {
    background-color: inherit;
    border-radius: 4px;
    color: #4d4d4d;
    border: none;
    font-size: 14px;
    padding: 2px 4px;
    transform: scale(1, 1.2);
}

.close-popup:hover {
    background-color: #eaeaea;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#layout-main {
    display: flex;
    margin-top: 10px;
    height: 100%;
    border-radius: 50px;
}

#layout-leftnav {
    /* width: 20%;
    max-width: 210px;
    min-width: 180px; */
    width: 210px;
    min-width: 210px;
}

.lists-leftside {
    padding: 0px 5px;
}

#layout-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    position: relative;
}

#layout-content-tasks-holder {
    background-color: #e4eef8;
    align-self: stretch;
    height: calc(100vh - 50px);
    flex-grow: 1.05;
    border-top-left-radius: 10px;
}

#layout-content-tasks {
    background-color: white;
    align-self: stretch;
    height: calc(100vh - 50px);
    /* height: 100%; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 14px;
    display: flex;
    flex-direction: column;
}

#layout-content-right {
    /* flex-grow: .95; */
    min-width: 420px;
    background-color: #E4EEF8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 30px;
}

#layout-content-right-taskbar {
    /* flex-grow: .95; */
    width: 420px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 14px;
    z-index: 20;
    position: absolute;
    right: 0px;
    height: calc(100vh - 60px);
    border-left: 1px solid #bdbdbd;
    display: none;
    overflow: hidden;
}

#list-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

#task-num-holder {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.task-num {
    padding: 12px;
    background-color: #dbe8f6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

/* %%%%%%%% Task Card %%%%%%%% */


.task-card {
    border-top: 1px dotted #b7b7b7;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 4px 14px;
    background-color: #ffffff;
}

.task-card:hover {
    background-color: #ffffcd;
    cursor: pointer;
}

.taskcard-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px 0px;
}

.priority-1 {
    background-color: #ff0000;
    min-height: 27px;
    width: 3px;
    min-width: 3px;
    margin-right: 9px;
}

.priority-2 {
    background-color: #f2cf30;
    min-height: 27px;
    width: 3px;
    min-width: 3px;
    margin-right: 9px;
}

.priority-3 {
    background-color: #cbcbcb;
    min-height: 27px;
    width: 3px;
    min-width: 3px;
    margin-right: 9px;
}

.task-formbottom {
    padding: 8px 8px 5px 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
    border-bottom: 1px solid #838383;
    background-color: #f7f7f7;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
}

.task-forms-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.task-input-field {
    padding: 5px 8px;
    border-radius: 4px;
    border: 1px solid #838383;
}

.task-textarea-field {
    padding: 5px 8px;
    border-radius: 4px;
    /* width: 400px; */
    width: 100%;
    height: 44px;
    border: 1px solid #838383;
    resize: none;
}

.task-input-submit {
    background-color: #0060bf;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    padding: 6px 14px;
    white-space: nowrap;
    margin: 4px 10px 4px 0px;
}

.task-input-submit:hover {
    background-color: #006bd6;
}


/* %%%%%%%% Edit Task %%%%%%%% */

.taskform-shell {
    overflow-y: auto;
    height: 100%;
}

.taskform-holder {
    overflow: hidden;
    margin-bottom: 80px;
}

.edittask-input-field {
    padding: 6px;
    border: 1px solid grey;
    border-radius: 5px;
}

.deletetask-button {
    background-color: #bf0000;
    color: #ffffff;
    /* margin: 4px 0px; */
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 4px;
    border-radius: 20px;
}

.deletetask-button:hover {
    background-color: #e80000;
}

.deletetask-button-init {
    background-color: #ffffff;
    color: #e80000;
    /* margin: 4px 0px; */
    border: 1px solid rgb(232, 0, 0, .7);
    font-size: 13px;
    font-weight: 400;
    padding: 4px 4px;
    border-radius: 20px;
}

.deletetask-button-init:hover {
    background-color: #fff3f3;
}

.trash-button {
    background-color: #ffffff;
    color: #868686;
    /* margin: 4px 0px; */
    border: 1px solid #868686;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 4px;
    border-radius: 20px;
}

.trash-button:hover {
    background-color: #f6f6f6;

}

/* %%%%%%%% List Card %%%%%%%% */


.list-link {
    font-size: 14px;
    background-color: inherit;
    text-decoration: none;
    width: 100%;
    color: #000000;
    padding: 2px 5px 1px 5px;
    border-radius: 3px;
    margin: 2px 0px 0px 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-link:hover {
    background-color: #bcd0eb;
}

.editlist-button {
    font-size: 11px;
    background-color: inherit;
    border: none;
    margin-right: 5px;
    padding: 3px;
    border-radius: 3px;
    position: relative;
}

.editlist-button:hover {
    background-color: #bcd0eb;
}

.edit-list-popup {
    background-color: #ffffff;
    border: 1px solid #adadad;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 20px 10px;
    position: absolute;
    transform: translateX(400px);
    top: -80px;
    width: 300px;
}

.add-list-popup {
    background-color: #ffffff;
    border: 1px solid #adadad;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 10px 10px;
    position: absolute;
    transform: translateX(395px);
    top: 165px;
    width: 300px;
}

#list-nums-holder {
    display: flex;
    flex-direction: column;
}


#copyright-area {
    font-size: 11px;
    color: #828282
}

.copyright-button {
    background-color: inherit;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: #828282;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
}

.copyright-button:hover {
    /* background-color: #f3f3f3; */
    color: #0060bf;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media screen and (max-width:1023px) {
    #layout-content {
        flex-direction: column-reverse;
        background-color: #e4eef8;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    #layout-content-tasks-holder {
        background-color: #ffffff;
        border-top-right-radius: 10px;
        margin-right: 10px;
    }

    #layout-content-tasks {
        height: calc(100vh - 168px);
        background-color: #ffffff;
    }

    #layout-content-right {
        flex-grow: .95;
        background-color: #e4eef8;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin-bottom: 0px;
        padding: 10px 20px;
    }

    #layout-content-right-taskbar {
        margin-bottom: 0px;
        height: calc(100vh - 50px);
    }

    #list-name {
        margin-bottom: 5px;
    }

    .task-num {
        padding: 4px 8px;
        background-color: #dbe8f6;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
    }

    #list-nums-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #copyright-area {
        display: none;
    }

}
