* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, textarea, select, label {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000000;
    background-color: #D6E7F5;
    margin: 0px;
    padding: 0px;
}

button, input, textarea, select {
    font-family: 'Roboto', sans-serif;
}

button:hover {
    cursor: pointer;
}

#root {
    height: 100%;
}

/* %%%%%%%%% Login/Signup + Profile Button/Popup   %%%%%%%%%%%% */

#layout-top {
    background-color: #0060bf;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.profile-popup {
    background-color: #f7f7f7;
    border: double white rgb(255, 0, 0);
    border: 1px solid grey;
    border: 5px solid #ffffff;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.profile-dropdown {
    position: absolute;
    transform: translateX(-200px);
    top: 34px;
    padding: 0px;
    margin: 0px;
    z-index: 30;
    width: 220px;
}

.profile-popup div {
    padding: 0px 0px;
    margin: 0px 20px;
    color: #1d1d1d;
}

.profile-button {
    border: none;
    padding: 2px;
    font-size: 22px;
    background-color: inherit;
    color: #b3cfec;
}

.profile-button:hover {
    color: #ffffff;
}

.logout-button {
    background-color: #0060bf;
    color: #ffffff;
    margin: 14px 0px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 24px;
    border-radius: 20px;
}

.logout-button:hover {
    background-color: #006bd6;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#layout-main {
    display: flex;
    margin-top: 10px;
    height: 100%;
    border-radius: 50px;
}

#layout-leftnav {
    width: 20%;
    max-width: 210px;
    min-width: 180px;
}

.channels-leftside {
    padding: 0px 20px;
}

#layout-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    position: relative;
}

#layout-content-tasks-holder {
    background-color: #e4eef8;
    align-self: stretch;
    height: calc(100vh - 50px);
    flex-grow: 1.05;
    border-top-left-radius: 10px;
}

#layout-content-tasks {
    background-color: white;
    align-self: stretch;
    height: calc(100vh - 50px);
    /* height: 100%; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 14px;
    display: flex;
    flex-direction: column;
}

#layout-content-right {
    /* flex-grow: .95; */
    min-width: 420px;
    background-color: #E4EEF8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 14px;
}

#layout-content-right-taskbar {
    /* flex-grow: .95; */
    width: 420px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 14px;
    z-index: 20;
    position: absolute;
    right: 0px;
    height: calc(100vh - 60px);
    border-left: 1px solid #bdbdbd;
    display: none;
}


/* %%%%%%%% Task Card %%%%%%%% */


.task-card {
    border-top: 1px dotted #b7b7b7;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    background-color: #ffffff;
}

.task-card:hover {
    background-color: #ffffcd;
    cursor: pointer;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media screen and (max-width:1023px) {
    #layout-content {
        flex-direction: column-reverse;
        background-color: #e4eef8;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    #layout-content-tasks-holder {
        background-color: #ffffff;
        border-top-right-radius: 10px;
        margin-right: 10px;
    }

    #layout-content-tasks {
        height: calc(100vh - 168px);
        background-color: #ffffff;
    }

    #layout-content-right {
        flex-grow: .95;
        background-color: #e4eef8;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin-bottom: 0px;
    }

    #layout-content-right-taskbar {
        margin-bottom: 0px;
        height: calc(100vh - 50px);
    }


}
